{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P4 Mobile UI</title>
    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'draw/mobile.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    </link>

</head>

<body>
    <div id="todolist">
        <div class="mobileTitle">
            <p style="margin-bottom: 0;">Your Schedule</p>
        </div>
        <div class="inputDiv">
            <input type="text" value="Enter Task" id="Name" autocomplete="off" />
            <input type="date" id="Date" autocomplete="off" />
            <select id = "Task" autocomplete="off">
                <option value ="test">Test</option>
                <option value ="review">Review</option>
                <option value="develop">Develop</option>
                <option value="design">Design</option>
                <option value="deploy">Deploy</option>
              </select>
        </div>
        <div id="taskDiv">

        </div>
        <div class="btnDiv">
            <button class="btn" id="Add" style="font-size: 5vw; font-weight: 600; width: 33.33vw; color: white;">Add</button>
            <button class="btn" id="Remove" style="font-size: 5vw; font-weight: 600; width: 33.33vw; color: white;">Remove</button>
            <button class="btn" id="Push" style="font-size: 5vw; font-weight: 600; width: 33.33vw; color: white;">Push</button>
        </div>
</body>
<script type="text/javascript" src="{% static 'draw/script.js' %}"></script>

</html>