html, body {
  height: 100%;
}

.big-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(37,40,61);
  background: linear-gradient(180deg, rgb(50, 54, 83) 0%, rgba(37,44,60,1) 100%);
  height: 100%;
  min-width: 800px;
}

.proj-stages {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  height: 80vh;
  width: 16vw;
  border-radius: 0.5rem;
  max-height: 1920px;
  max-width: 1080px;
}

.stage-title {
  text-align: center;
  font-size: 3vw;
  width: 90%;
  background-color: white;
  font-family: 'Arvo', serif;
}

.stage-text {
  padding-top: 2.5vh;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  background-color: rgba(255, 255, 255,0.6);
}

.bigScreenTasks {
  text-align: center;
  margin-bottom: 2.5vh;
  font-weight: 800;
  font-size: 1.4vw;
}